<%- include('templates/encabezado')%>
<pre></pre>
<body>
    <div class="container">
        <!--TITULO DE LA PAGINA-->
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Modificar usuario</h1>
        <form action="/modificar" method="POST">
        <div class="card">
            <div class="card-header border border-dark" style="background-color: rgb(255, 145, 0);"></div>
            <div class="card-body border border-dark">
                <!--<p>Id:</p>-->
                <input class="form-control mb-3" style="background-color: ghostwhite;" type="hidden" name="idModificar" id="idModificar" value="<%= usuario.id%>">
                <p>Nombre:</p>
                <input class="form-control mb-3 border border-dark" type="text" name="nombreModificar" id="nombreModificar" placeholder="Nombre(s)" value="<%= usuario.nombre%>">
                <p>Apellidos:</p>
                <input class="form-control mb-3 border border-dark" type="text" name="apellidoPatModificar" id="apellidoPatModificar" placeholder="Paterno" value="<%= usuario.apellidoPat%>">
                <input class="form-control mb-3 border border-dark" type="text" name="apellidoMatModificar" id="apellidoMatModificar" placeholder="Materno" value="<%= usuario.apellidoMat%>">
                <p>Email:</p>
                <input class="form-control mb-3 border border-dark" type="email" name="emailModificar" id="emailModificar" placeholder="user1234@gmail.com" value="<%= usuario.email%>">
                <p>Contraseña:</p>
                <input class="form-control mb-3 border border-dark" type="text" name="passwordModificar" id="passwordModificar" placeholder="password123" value="<%= usuario.password%>">
            </div>
            <div class="card-footer border border-dark" style="background-color: rgb(255, 145, 0);">
                <button class="btn btn-primary" type="submit"><b>Cambiar</b></button>
                <a class="btn btn-primary" href="/"><b>Cancelar</b></a>
            </div>
        </div>
        </form>
    </div>
</body>

<%- include('templates/footer')%>
<%- include('templates/fin')%>
